################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BuildIO/v16/Server/sqlite3/db.lock
/.vs/BuildIO/v16/Server/sqlite3/storage.ide
/.vs/BuildIO/v16/Server/sqlite3/storage.ide-shm
/.vs/BuildIO/v16/Server/sqlite3/storage.ide-wal
/Library/ShaderCache
/Library/ScriptAssemblies
/.vs
/Library/Artifacts
